# Serverless
.serverless/

# NPM
node_modules/

# Python
*.pyc

# Development
tmp
*.tmp
.vscode/
.idea/
.terraform/
.terraform.lock.hcl
mediaconvert_lambda.zip
terraform.tfstate
terraform.tfstate.backup
